/* Clean the formatations */
* {
    margin: 0;
    padding: 0;
}

/* Stylize the body */
body{
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
    background: #e6e6e6;
}

/* Layuot */

#blog_header{
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#logo{
    padding: 10px;
}

#menu{
    padding: 10px;
}

#principal_area{
    width: 920px;
    height: auto;
    margin: 0 auto;
    padding: 15px;
}

#posts{
    background-color: white;
    width: 600px;
    float: left;
}

.list_posts{
    padding: 20px;
    margin-bottom: 20px;
}

#lateral_bar{
    background-color: white;
    width: 240px;
    float: right;
}

#bottom{
    clear: both;
    text-align: center;
    padding: 15px;
    background: #CCC;
}

.lateral_text{
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px dotted #CCC;
}

/* Menu formatations */

a{
    text-decoration: none;
}

a:link, a:visited{
    color: #f7b600;
}

a:hover{
    text-decoration: underline;
}

#blog_header a:link,#blog_header a:visited{
    color: #FFF;
    padding: 8px 12px;
}

#blog_header a:hover{
    color: #f7b600;
    background-color: #FFF;
    padding: 8px 12px;
}

.lateral_content{
    background: white;
    padding: 10px;
    margin-bottom: 20x;
}

/* General formatations */

h1{
    color: 4e4e4e;
    font-size: 2.5em;
}

h2{
    color: #f7b600;
}

h3{
    color: #565656;
    background: #CCC;
    padding: 5px;
}

.date_post{
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

.white{
    color: white;
}